<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews by Other Users</title>
</head>
<body>

<!-- Nav -->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="./home.html">Read Social</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="./dashboard.html">My Dashboard</a>
                <a class="nav-link" href="./book-search.html">Create a Review</a>
                <a class="nav-link" href="./all-reviews.html">All Reviews</a>
                <a class="nav-link" href="./home.html" onclick="handleLogout()">Log Out</a>
            </div>
        </div>
    </div>
</nav>

<!-- Reviews by User-->

<section class="w-100">
    <h2 class="text-center display-4"> Book Reviews </h2>

    <div class="container">
        <div class="post-list row" id="user-reviews"></div>
    </div>

</section>

<!-- Script Links -->


</body>
</html>